APScheduler
requests
aiohttp
websocket_client
pandas
cryptography~=44.0.2
sqlalchemy~=2.0.38
PySide6~=6.8.2.1
plotly~=6.0.0
dash~=2.17.0
numpy
matplotlib~=3.10.1
Flask~=3.0.3
websocket-client~=0.57.0
setuptools~=68.2.0
torch
tensorflow==2.19.0
keras==3.9.0
yfinance
ta
sklearn